
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src= "../server.js"></script>
    <title>Pokemon Manager</title>
</head>
<style>
     .name{
        text-align: center;
    }

    #output{
        display: inline-block;
        border: solid blue 3px;
        border-radius: 20%;
        padding: 10px;

        text-align: center;
    }
    .top{
        text-align: center;
        margin: auto 0;
    }
    img{
        height: 50px;
        width: auto;
    }
</style>
<body>
    <div class = "top">
        <h1>Welcome to My Pokedex</h1>
        <a class = "btn btn-primary btn-lg" href ="/pokemon/new">Create a new Pokemon</a>
    </div>
    <br>
    <br>
    <% for (let i = 0; i < data.length; i++) { %>
        
        <div id = "output">
            <h3> 
               
                <a href="/pokemon/<%=i%>">  <%=data[i].name%> </a>
            </h3>
            <a href="/pokemon/<%=i%>"> <img src="<%=data[i].img%>"></a>
            <br>
            <a href = "/pokemon/<%=i%>/edit"><button >Edit</button></a>
            <form method="POST" action="/pokemon/<%=i%>?_method=DELETE">
                <button type = "submit">Delete</button></a>
            </form>
        </div>
        <%}%>
    <!-- <% if (data.length > 151){%>
        <% let test = (data.length - 1)%>
        <div id = "output">
            <h3>
                <%=data[0].name%> 
            </h3>
            <a href="/pokemon/<%=[0]%>"> <img src="<%=data[0].img%>"></a>
            <br>
            <a href = "/pokemon/<%=[0]%>/edit"><button >Edit</button></a>
            <form method="POST" action="/pokemon/<%=[0]%>?_method=DELETE">
                <button type = "submit">Delete</button></a>
            </form>
        </div>
    <%}%> -->
</body>
</html>